.modal {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100vh;
  height: 60vh;
  z-index: 1;
  background: white; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
