.table {
  width: 90%;
  margin: auto;
}

.table-header {
  margin: 60px 0 30px;
}

.table-block {
  display: flex;
  flex-direction: column;
}
.table-block-page {
  margin-bottom: 30px;
}
.table-block-info {
  width: 900px;
  margin: auto;
}

.table-block-elected-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ant-table-wrapper {
  width: -webkit-fill-available;
}
.table-input {
  width: 900px;
  margin: 0 auto 30px;
  display: flex;
}

.table-input .ant-input {
  height: 40px;
  font-size: 20px;
  width: 400px;
  font-weight: bold;
}
